<!DOCTYPE html>
<html lang="en">

<head>
    <module href="/components/head.html"></module>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />

    <style>
        body {
            font-family: Geomanist-Regular, sans-serif;
            --my-primary: #1784ff;
            --my-dark-primary: #086eff;
            --my-back: #D1E6FF;
            --my-black: #373435;
            --my-yellow: #FEC30C;
            --my-green: #88c23d;
            --my-purple: #C865E8;
            /* background-color: rgb(197, 236, 198); */
        }

        .big-h span {
            color: var(--my-green);
        }

        .section-about .about-content {
            padding: 8rem 5rem;
        }

        .about-content-center {
            background-color: #fff;
        }

        .section-dark-bw {
            padding: 6rem 0;
            color: white;
        }
    </style>
</head>

<body>
    <div class="root">
        <header id="header" class="d-flex flex-column">
            <module href="/components/navbar.html"></module>

            <section class="position-relative">
                <svg id="circle-tr" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 682 288"
                    style="enable-background:new 0 0 682 288;" xml:space="preserve">
                    <style type="text/css">
                        .c1-st0 {
                            opacity: 0.2;
                            fill: #1784FF;
                        }
                    </style>
                    <ellipse class="c1-st0" cx="632.6" cy="-810" rx="566.8" ry="511.7" />
                </svg>
                <svg id="circle-dl" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 682 288"
                    style="enable-background:new 0 0 682 288;" xml:space="preserve">
                    <style type="text/css">
                        .c2-st0 {
                            opacity: 0.2;
                            fill: #1784FF;
                        }
                    </style>
                    <ellipse class="c2-st0" cx="149.9" cy="1060" rx="566.8" ry="511.7" />
                </svg>
                <div id="other-banners">
                    <div
                        class="container c-height d-flex flex-column justify-content-center align-items-center text-center">
                        <div>
                            <h1 class="bottom-line">About</h1>
                            <p class="mt-4-1 big-p fw-bold">All about our company and its vision.</p>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <div class="container pb-5">
                <div class="py-5 my-5 d-flex justify-content-start align-items-center border-bottom">
                    <h3>Home</h3>
                    <svg style="margin: 0px 15px 4px 15px;" width="30px" height="30px" x="0px" y="0px"
                        viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor"
                            d="M338.752 104.704a64 64 0 000 90.496l316.8 316.8-316.8 316.8a64 64 0 0090.496 90.496l362.048-362.048a64 64 0 000-90.496L429.248 104.704a64 64 0 00-90.496 0z" />
                    </svg>
                    <h3>About</h3>
                </div>
            </div>

            <section id="about-section" class="section-dark container mb-5">
                <div class="row flex-column flex-lg-row">
                    <div class="image col-lg-5">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560 441"
                            style="enable-background:new 0 0 560 441;" xml:space="preserve">
                            <style type="text/css">
                                .about-st0 {
                                    opacity: 0.2;
                                    fill: #1784FF;
                                }

                                .about-st1 {
                                    fill: url(#s_1_);
                                }

                                .about-st2 {
                                    fill: url(#quote_1_);
                                }

                                .about-st3 {
                                    fill: url(#n_1_);
                                }

                                .about-st4 {
                                    fill: url(#i_1_);
                                }

                                .about-st5 {
                                    fill: url(#v_1_);
                                }

                                .about-st6 {
                                    fill: url(#e_1_);
                                }

                                .about-st7 {
                                    fill: url(#l_1_);
                                }

                                .about-st8 {
                                    fill: none;
                                    stroke: #373435;
                                    stroke-width: 5;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }

                                .about-st9 {
                                    fill: #373435;
                                }

                                .about-stt1 {
                                    fill: url(#SVGID_1_);
                                }

                                .about-stt2 {
                                    fill: url(#SVGID_2_);
                                }
                            </style>
                            <g id="Layer_2">
                                <circle class="about-st0" cx="287.3" cy="219.5" r="212.6" />
                            </g>
                            <g id="Levins">
                                <g id="letter-s">

                                    <linearGradient id="s_1_" gradientUnits="userSpaceOnUse" x1="519.05" y1="308.2"
                                        x2="519.05" y2="233.8596" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <path id="s" class="about-st1"
                                        d="M485.1,220v7.7c0,8,6.5,14.6,14.6,14.6h38.8c8,0,14.6-6.5,14.6-14.6v-15c0-8-6.5-14.6-14.6-14.6h-34
                                                                        l0.2-12.3h28.9v5.2l19.4,0.2v-8.8c0-8-6.5-14.6-14.6-14.6h-38.8c-8,0-14.6,6.5-14.6,14.6V199c0,8,6.5,14.5,14.5,14.6l33.2,0.1
                                                                        v11.2l-16.2,0.2l-12.1,11.1l0.2-16.5L485.1,220z" />
                                </g>

                                <linearGradient id="quote_1_" gradientUnits="userSpaceOnUse" x1="473.55" y1="308.1"
                                    x2="473.55" y2="285.5" gradientTransform="matrix(1 0 0 -1 0 476)">
                                    <stop offset="0" style="stop-color:#299EFF" />
                                    <stop offset="0.9955" style="stop-color:#086EFF" />
                                </linearGradient>
                                <polygon id="quote" class="about-st2"
                                    points="465.8,167.9 465.8,190.5 475.6,190.5 481.3,177.7 481.3,167.9 	" />
                                <g id="letter-n">

                                    <linearGradient id="n_1_" gradientUnits="userSpaceOnUse" x1="423.95" y1="308.1"
                                        x2="423.95" y2="233.8" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <polygon id="n" class="about-st3" points="389.4,167.9 389.4,242.2 408.7,242.2 408.7,198.8 440.4,242.2 458.5,242.2 458.5,167.9 
                                                                        439.6,167.9 439.2,211.4 408.8,167.9 		" />
                                </g>
                                <g id="letter-i">

                                    <linearGradient id="i_1_" gradientUnits="userSpaceOnUse" x1="374.45" y1="308.1"
                                        x2="374.45" y2="233.8" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <rect id="i" x="364.7" y="167.9" class="about-st4" width="19.5" height="74.3" />
                                </g>
                                <g id="letter-v">

                                    <linearGradient id="v_1_" gradientUnits="userSpaceOnUse" x1="318.5" y1="308.1"
                                        x2="318.5" y2="233.8" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <polygon id="v" class="about-st5"
                                        points="278.2,167.9 308.4,242.2 328,242.2 358.8,167.9 338.4,167.9 318.5,217.3 296.9,167.9 		" />
                                </g>
                                <g id="letter-e">

                                    <linearGradient id="e_1_" gradientUnits="userSpaceOnUse" x1="243.25" y1="308.1"
                                        x2="243.25" y2="233.8" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <polygon id="e" class="about-st6"
                                        points="212.2,167.9 212.2,242.2 274.3,242.2 274.3,224.8 244,225 232.7,236.1 232.7,211.4 
                                                                        269.7,211.7 269.7,197.7 232.9,197.8 232.9,185.4 274.3,185.7 274.3,167.9 		" />
                                </g>
                                <g id="letter-l">

                                    <linearGradient id="l_1_" gradientUnits="userSpaceOnUse" x1="179.55" y1="308.1"
                                        x2="179.55" y2="233.8" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <polygon id="l" class="about-st7"
                                        points="152,167.9 152,242.2 207.1,242.2 207.1,224.7 183.8,224.5 172.3,236.5 172,167.9 		" />
                                </g>
                            </g>
                            <g id="Pharmadeals">
                                <path class="about-st8"
                                    d="M156.2,293.1v-35.4H170c4.7,0,8.6,3.8,8.6,8.6l0,0c0,4.7-3.8,8.6-8.6,8.6h-13" />
                                <line class="about-st8" x1="188.4" y1="257.8" x2="188.4" y2="293.1" />
                                <line class="about-st8" x1="213.9" y1="257.8" x2="213.9" y2="293.1" />
                                <line class="about-st8" x1="188.4" y1="274.6" x2="213.9" y2="274.6" />
                                <polyline class="about-st8" points="224.9,293.1 240.6,257.8 256.5,293.1 	" />
                                <line class="about-st8" x1="230.6" y1="282" x2="250.9" y2="282" />
                                <path class="about-st8"
                                    d="M267.1,293.1v-35.4h11.1c4.6,0,8.4,3.8,8.4,8.4l0,0c0,4.6-3.8,8.4-8.4,8.4h-10l10,0.9l9.1,17.7" />
                                <polyline class="about-st8"
                                    points="300.1,293.1 300.1,257.8 302.4,257.8 317.3,289.1 332.1,257.8 334.3,257.8 334.3,293.1 	" />
                                <polyline class="about-st8" points="345.6,293.1 361.3,257.8 377.3,293.1 	" />
                                <line class="about-st8" x1="371.4" y1="282" x2="351.4" y2="282" />
                                <path class="about-st8"
                                    d="M387.1,257.8v35.4h9.3c9.8,0,17.7-7.9,17.7-17.7l0,0c0-9.8-7.9-17.7-17.7-17.7L387.1,257.8L387.1,257.8z" />
                                <polyline class="about-st8"
                                    points="448.9,257.8 428.4,257.8 428.4,293.1 448.9,293.1 	" />
                                <line class="about-st8" x1="447.1" y1="274" x2="428.4" y2="274" />
                                <polyline class="about-st8" points="457.1,293.1 472.9,257.8 489.6,293.1 	" />
                                <line class="about-st8" x1="483.3" y1="282" x2="463" y2="282" />
                                <polyline class="about-st8" points="499.2,257.8 499.2,293.1 518,293.1 	" />
                                <path class="about-st8"
                                    d="M543,261.7c-1.4-2.3-4-3.9-6.9-3.9h-2.9c-4.5,0-8.1,3.6-8.1,8.1l0,0c0,4.5,3.6,8.1,8.1,8.1h2.9
                                                                    c4.5,0,8.1,3.6,8.1,8.1v2.9c0,4.5-3.6,8.1-8.1,8.1h-2.9c-3.2,0-5.9-1.8-7.2-4.5" />
                            </g>
                            <g id="logo">
                                <g id="Layer_4">
                                    <path class="about-st9" d="M98.5,238.3c0,6-4.9,10.9-10.9,10.9H28.1V135.6c7.9,17,16.4,20.4,21.7,20.5v71.3h37.8
                                                                        C93.7,227.4,98.5,232.3,98.5,238.3z" />
                                    <path class="about-st9"
                                        d="M128.1,204.9c4.1,8.3,6.3,17.6,6.3,27.4c0,34.4-27.9,62.4-62.4,62.4c-19.3,0-36.6-8.8-48.1-22.6l-4.8,3.1
                                                                        c12.5,15.4,31.5,25.2,52.8,25.2c37.5,0,68-30.5,68-68c0-11-2.6-21.3-7.2-30.5L128.1,204.9z" />
                                </g>
                                <g id="Layer_3">

                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="63.3" y1="311.7"
                                        x2="63.3" y2="216.5" gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <path class="about-stt1"
                                        d="M14.5,256.4c-3.1-7.4-4.8-15.6-4.8-24.1c0-34.4,27.9-62.4,62.4-62.4c18,0,34.3,7.7,45.7,19.9l4.8-3.1
                                                                        c-12.5-13.8-30.5-22.4-50.6-22.4c-37.5,0-68,30.5-68,68c0,9.7,2,18.9,5.7,27.2L14.5,256.4z" />

                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="85.855"
                                        y1="278.3481" x2="85.855" y2="135.1477"
                                        gradientTransform="matrix(1 0 0 -1 0 476)">
                                        <stop offset="0" style="stop-color:#299EFF" />
                                        <stop offset="0.9955" style="stop-color:#086EFF" />
                                    </linearGradient>
                                    <path class="about-stt1" d="M128.3,239.3c-0.5,22.2-19.2,39.7-41.4,39.7H65.2v45.6c-6.7,0.2-16.2,3.2-21.8,16.4v-74.1
                                                                        c0-4.3,3.5-7.7,7.7-7.7h36c11.3,0,20.9-8.8,21.3-20c0.4-11.8-9.1-21.6-20.8-21.6H66.1c-2-9.5-6.7-15.8-11.5-19.8h33
                                                                        C110.4,197.7,128.8,216.4,128.3,239.3z" />
                                </g>
                            </g>
                        </svg>

                    </div>
                    <div class="text col-lg-7 mt-5 mt-lg-0 d-flex flex-column justify-content-start">
                        <div>
                            <h2 class="bottom-line-left">Our <span class="">Vision</span></h2>
                            <p class="mt-4-1">
                                <span class="fw-bold">Levin’s Pharmadeals International (OPC) Pvt Ltd</span>,
                                established with a vision of bringing variety of
                                products under one roof, <span class="fw-bold">saving efforts</span> of buyers,
                                searching commodities with excessively large and hectic
                                group of sellers.
                            </p>
                            <p>
                                <span class="fw-bold">Maintain Quality</span> and <span class="fw-bold">competitive
                                    price</span> is our motive between challenges of price wars and competition.
                            </p>
                            <p>
                                <span class="fw-bold">Expanding exports</span> of pharmaceuticals & medical items
                                throughout the globe.
                            <p class="h6 bold-font">Currently we are exporting to:</p>
                            <ul class="ps-5">
                                <li>South East Asia,</li>
                                <li>South pacific ISLANDS,</li>
                                <li>Mauritius,</li>
                                <li>Madagascar and</li>
                                <li>East Africa.</li>
                            </ul>
                            </p>
                            <p class="fw-bold">Soon, company is going to be a part of pharmaceutical export Council of
                                India as
                                registered member which are recognized for their credibility in export business.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer START Here -->
 
        <module href="/components/footer.html"></module>
 
        <!-- Footer END Here -->
        <script src="./js/anime.min.js" type="text/javascript"></script>
        <script src="./js/other-anime.js" type="text/javascript"></script>
        <script src="./js/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="./js/bootstrap.bundle.js" type="text/javascript"></script>
        <script src="./js/main.js" type="text/javascript"></script>

    </div>
</body>

</html>