<footer id="footer" class="bg-gray-3 text-color">
    <div class="container py-6">
        <div class="d-flex flex-column flex-md-row footer-links">
            <div class=" flex-grow-1 flex-shrink-1 d-flex flex-column flex-xl-row link-group-one">
                <div class=" link-one flex-grow-1 flex-shrink-1">
                    <a href="./index.html">
                        <svg width="325px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560 210.6"
                            style="enable-background:new 0 0 560 210.6;" xml:space="preserve">
                            <style type="text/css">
                                .flogo-st0 {
                                    fill: #FFFFFF;
                                    stroke: #FFFFFF;
                                    stroke-miterlimit: 10;
                                }
    
                                .stPharma {
                                    fill: none;
                                    stroke: #FFFFFF;
                                    stroke-width: 5;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }
                            </style>
                            <g id="Levins">
                                <g id="letter-s">
                                    <path id="s" class="flogo-st0" d="M485.1,88v7.7c0,8,6.5,14.6,14.6,14.6h38.8c8,0,14.6-6.5,14.6-14.6V80.7c0-8-6.5-14.6-14.6-14.6h-34
                                           l0.2-12.3h28.9V59l19.4,0.2v-8.8c0-8-6.5-14.6-14.6-14.6h-38.8c-8,0-14.6,6.5-14.6,14.6V67c0,8,6.5,14.5,14.5,14.6l33.2,0.1v11.2
                                           l-16.2,0.2l-12.1,11.1l0.2-16.5L485.1,88z" />
                                </g>
                                <polygon id="quote" class="flogo-st0"
                                    points="465.8,35.9 465.8,58.5 475.6,58.5 481.3,45.7 481.3,35.9 	" />
                                <g id="letter-n">
                                    <polygon id="n" class="flogo-st0" points="389.4,35.9 389.4,110.2 408.7,110.2 408.7,66.8 440.4,110.2 458.5,110.2 458.5,35.9 
                                           439.6,35.9 439.2,79.4 408.8,35.9 		" />
                                </g>
                                <g id="letter-i">
                                    <rect id="i" x="364.7" y="35.9" class="flogo-st0" width="19.5" height="74.3" />
                                </g>
                                <g id="letter-v">
                                    <polygon id="v" class="flogo-st0"
                                        points="278.2,35.9 308.4,110.2 328,110.2 358.8,35.9 338.4,35.9 318.5,85.3 296.9,35.9 		" />
                                </g>
                                <g id="letter-e">
                                    <polygon id="e" class="flogo-st0" points="212.2,35.9 212.2,110.2 274.3,110.2 274.3,92.8 244,93 232.7,104.1 232.7,79.4 269.7,79.7 
                                           269.7,65.7 232.9,65.8 232.9,53.4 274.3,53.7 274.3,35.9 		" />
                                </g>
                                <g id="letter-l">
                                    <polygon id="l" class="flogo-st0"
                                        points="152,35.9 152,110.2 207.1,110.2 207.1,92.7 183.8,92.5 172.3,104.5 172,35.9 		" />
                                </g>
                            </g>
                            <g id="Pharmadeals">
                                <path class="stPharma"
                                    d="M156.2,161.1v-35.4H170c4.7,0,8.6,3.8,8.6,8.6v0c0,4.7-3.8,8.6-8.6,8.6h-13" />
                                <line class="stPharma" x1="188.4" y1="125.8" x2="188.4" y2="161.1" />
                                <line class="stPharma" x1="213.9" y1="125.8" x2="213.9" y2="161.1" />
                                <line class="stPharma" x1="188.4" y1="142.6" x2="213.9" y2="142.6" />
                                <polyline class="stPharma" points="224.9,161.1 240.6,125.8 256.5,161.1 	" />
                                <line class="stPharma" x1="230.6" y1="150" x2="250.9" y2="150" />
                                <path class="stPharma"
                                    d="M267.1,161.1v-35.4h11.1c4.6,0,8.4,3.8,8.4,8.4v0c0,4.6-3.8,8.4-8.4,8.4h-10l10,0.9l9.1,17.7" />
                                <polyline class="stPharma"
                                    points="300.1,161.1 300.1,125.8 302.4,125.8 317.3,157.1 332.1,125.8 334.3,125.8 334.3,161.1 	" />
                                <polyline class="stPharma" points="345.6,161.1 361.3,125.8 377.3,161.1 	" />
                                <line class="stPharma" x1="371.4" y1="150" x2="351.4" y2="150" />
                                <path class="stPharma"
                                    d="M387.1,125.8v35.4h9.3c9.8,0,17.7-7.9,17.7-17.7v0c0-9.8-7.9-17.7-17.7-17.7H387.1z" />
                                <polyline class="stPharma"
                                    points="448.9,125.8 428.4,125.8 428.4,161.1 448.9,161.1 	" />
                                <line class="stPharma" x1="447.1" y1="142" x2="428.4" y2="142" />
                                <polyline class="stPharma" points="457.1,161.1 472.9,125.8 489.6,161.1 	" />
                                <line class="stPharma" x1="483.3" y1="150" x2="463" y2="150" />
                                <polyline class="stPharma" points="499.2,125.8 499.2,161.1 518,161.1 	" />
                                <path class="stPharma"
                                    d="M543,129.7c-1.4-2.3-4-3.9-6.9-3.9h-2.9c-4.5,0-8.1,3.6-8.1,8.1v0c0,4.5,3.6,8.1,8.1,8.1h2.9
                                       c4.5,0,8.1,3.6,8.1,8.1v2.9c0,4.5-3.6,8.1-8.1,8.1h-2.9c-3.2,0-5.9-1.8-7.2-4.5" />
                            </g>
                            <g id="logo">
                                <g id="Layer_4">
                                    <path class="flogo-st0" d="M98.5,106.3c0,6-4.9,10.9-10.9,10.9H28.1V3.6C36,20.6,44.5,24,49.8,24.1v71.3h37.8
                                           C93.7,95.4,98.5,100.3,98.5,106.3z" />
                                    <path class="flogo-st0"
                                        d="M128.1,72.9c4.1,8.3,6.3,17.6,6.3,27.4c0,34.4-27.9,62.4-62.4,62.4c-19.3,0-36.6-8.8-48.1-22.6l-4.8,3.1
                                           c12.5,15.4,31.5,25.2,52.8,25.2c37.5,0,68-30.5,68-68c0-11-2.6-21.3-7.2-30.5L128.1,72.9z" />
                                </g>
                                <g id="Layer_3">
                                    <path class="flogo-st0"
                                        d="M14.5,124.4c-3.1-7.4-4.8-15.6-4.8-24.1c0-34.4,27.9-62.4,62.4-62.4c18,0,34.3,7.7,45.7,19.9l4.8-3.1
                                           C110.1,40.9,92.1,32.3,72,32.3c-37.5,0-68,30.5-68,68c0,9.7,2,18.9,5.7,27.2L14.5,124.4z" />
                                    <path class="flogo-st0" d="M128.3,107.3c-0.5,22.2-19.2,39.7-41.4,39.7H65.2v45.6c-6.7,0.2-16.2,3.2-21.8,16.4v-74.1
                                           c0-4.3,3.5-7.7,7.7-7.7l36,0c11.3,0,20.9-8.8,21.3-20c0.4-11.8-9.1-21.6-20.8-21.6H66.1c-2-9.5-6.7-15.8-11.5-19.8h33
                                           C110.4,65.7,128.8,84.4,128.3,107.3z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                    <p class="mt-3 f-logo-caption"><span class="color-yellow">Levins</span> established with a
                        vision of bringing variety of <span class="color-yellow">Products</span> under <span
                            class="color-yellow">One-Roof</span> saving efforts of buyers.</p>
                </div>
                <div class=" link-two flex-grow-1 flex-shrink-1">
                    <div class="h5 bold-font bottom-line-left mb-4">Quick Links</div>
                    <a href="./achievements.html" class="nav-link a ps-0">Our Certificates</a>
                    <a href="./index.html/#our-products" class="nav-link a ps-0">List of All Products</a>
                    <a href="./index.html/#our-services" class="nav-link a ps-0">Our Services</a>
                    <a href="./index.html/#about-section" class="nav-link a ps-0">What we do?</a>
                </div>
            </div>
            <div class=" flex-grow-1 flex-shrink-1 d-flex flex-column flex-xl-row link-group-two">
                <div class="link-three flex-grow-1 flex-shrink-1">
                    <div class="h5 bold-font bottom-line-left mb-4">Pages</div>
                    <a href="./achievements.html" class="nav-link a ps-0">Achievements</a>
                    <a href="./products.html" class="nav-link a ps-0">Products</a>
                    <a href="./about.html" class="nav-link a ps-0">About</a>
                    <a href="./contact.html" class="nav-link a ps-0">Contacts</a>
                </div>
                <div class="link-four flex-grow-1 flex-shrink-1">
                    <div class="h5 bold-font bottom-line-left mb-4">Contact Info</div>
                    <div class="info-content">
                        <div class="d-flex nav-div">
                            <a class="icon-link" href="https://goo.gl/maps/K6BGDHzcw7rG8TwNA">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-65 0 512 512" width="24px"
                                    height="32px">
                                    <path
                                        d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z">
                                    </path>
                                </svg>
                            </a>
                            <div class="ms-3 d-flex align-items-center">
                                <a href="https://goo.gl/maps/K6BGDHzcw7rG8TwNA"
                                    class="address a text-start">P267+GR6, Kunjpura Rd, Sector 27, Sector 9,
                                    Karnal, Haryana 132001</a>
                            </div>
                        </div>
                        <div class="d-flex nav-div">
                            <a class="icon-link" href="tel:+919350159890">
                                <svg xmlns="http://www.w3.org/2000/svg" class="back-phone" viewBox="0 0 512 512"
                                    width="24px" height="32px">
                                    <path
                                        d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z">
                                    </path>
                                </svg>
                            </a>
                            <div class="ms-3 d-flex align-items-center">
                                <a class=" a" href="tel:+919350159890">+91 9350159890</a><br>
                            </div>
                        </div>
                        <div class="d-flex nav-div">
                            <a class="icon-link" href="mailto:info@levinspharmadeals.com">
                                <svg xmlns="http://www.w3.org/2000/svg" class="back-phone"
                                    viewBox="35 20 430 430" width="24px" height="32px">
                                    <g>
                                        <path
                                            d="M67,148.7c11,5.8,163.8,89.1,169.5,92.1c5.7,3,11.5,4.4,20.5,4.4c9,0,14.8-1.4,20.5-4.4c5.7-3,158.5-86.3,169.5-92.1   c4.1-2.1,11-5.9,12.5-10.2c2.6-7.6-0.2-10.5-11.3-10.5H257H65.8c-11.1,0-13.9,3-11.3,10.5C56,142.9,62.9,146.6,67,148.7z" />
                                        <path
                                            d="M455.7,153.2c-8.2,4.2-81.8,56.6-130.5,88.1l82.2,92.5c2,2,2.9,4.4,1.8,5.6c-1.2,1.1-3.8,0.5-5.9-1.4l-98.6-83.2   c-14.9,9.6-25.4,16.2-27.2,17.2c-7.7,3.9-13.1,4.4-20.5,4.4c-7.4,0-12.8-0.5-20.5-4.4c-1.9-1-12.3-7.6-27.2-17.2l-98.6,83.2   c-2,2-4.7,2.6-5.9,1.4c-1.2-1.1-0.3-3.6,1.7-5.6l82.1-92.5c-48.7-31.5-123.1-83.9-131.3-88.1c-8.8-4.5-9.3,0.8-9.3,4.9   c0,4.1,0,205,0,205c0,9.3,13.7,20.9,23.5,20.9H257h185.5c9.8,0,21.5-11.7,21.5-20.9c0,0,0-201,0-205   C464,153.9,464.6,148.7,455.7,153.2z" />
                                    </g>
                                </svg>
                            </a>
                            <div class="ms-3 d-flex align-items-center">
                                <a href="mailto:contact@levinspharmadeals.com"
                                    class="a">contact@levinspharmadeals.com</a>
                            </div>
                        </div>
                        <div class="d-flex nav-div">
                            <a class="icon-link" href="https://www.facebook.com/Levins-Pharmadeals">
                                <svg class="" xmlns="http://www.w3.org/2000/svg" class="back-phone" width="24px"
                                    height="32px" viewBox="0 0 533 533"
                                    style="enable-background:new 0 0 533 533;" xml:space="preserve">
                                    <style type="text/css">
                                        <!-- .st0 {
                                        fill: #1877F2;
                                        }
                                        -->
                                    </style>
                                    <path class="st0"
                                        d="M533.3,268.1c0-147.3-119.4-266.7-266.7-266.7C119.4,1.5,0,120.9,0,268.1c0,133.1,97.5,243.4,225,263.4V345.2
                                                                        h-67.7v-77.1H225v-58.8c0-66.8,39.8-103.8,100.7-103.8c29.2,0,59.7,5.2,59.7,5.2v65.6h-33.6c-33.1,0-43.5,20.6-43.5,41.6v50h74
                                                                        l-11.8,77.1h-62.1v186.3C435.8,511.6,533.3,401.2,533.3,268.1" />
                                    <path class="st0" d="M0,1.5" />
                                </svg>
                            </a>
                            <div class="ms-3 d-flex align-items-center">
                                <a href="https://www.facebook.com/Levins-Pharmadeals"
                                    class="a">#Levins-Pharmadeals</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright-area" class="text-center a pb-4">
        © Copyright 2022 Levin's Pharmadeals, All Rights Reserved
    </div>
</footer>
