<meta charset="utf-8" />

<title>Levin’s Pharmadeals International (OPC) Pvt Ltd</title>

<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">

<meta name="description" content="Levin's Pharmadeals is a Pharma related trading company with head office in Karnal on National highway 44 at 100 miles away from IGI International airport, New Delhi."/>
<!-- <link rel="canonical" href="https://www.levinspharmadeals.com/" /> -->
<meta content='Pharmaceuticals, Surgical Items, Hospital Equipments, Hospital Disposables, O.T items ,Lab items, hospital sundries,' name='keywords'/>
<meta content='info@levinspharmadeals.com' name='Email'/>
<meta content='all' name='audience'/>
<meta content='general' name='rating'/>
<meta content='all' name='robots'/>
<meta content='index, follow' name='robots'/>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<!-- Chrome, Firefox OS and Opera -->
<meta content='#1784ff' name='theme-color'/>
<!-- Windows Phone -->
<meta content='#1784ff' name='msapplication-navbutton-color'/>

<meta name="twitter:card" content="Levin's Pharmadeals is a Pharma related trading company with head office in Karnal on National highway 44 at 100 miles away from IGI International airport, New Delhi." />
<!-- <meta name="twitter:site" content="@nytimesbits" /> -->
<!-- <meta name="twitter:creator" content="@nickbilton" /> -->
<meta property="og:title" content="Levin’s Pharmadeals International (OPC) Pvt Ltd" />
<!-- <meta property="og:url" content="https://www.levinspharmadeals.com/" /> -->
<meta property="og:description" content="Levin's Pharmadeals is a Pharma related trading company with head office in Karnal on National highway 44 at 100 miles away from IGI International airport, New Delhi." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Levin's Pharmadeals" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="./images/favicon/android-chrome-512x512.png" />

<meta content='width=device-width, initial-scale=1' name='viewport'/>
